body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.bg-light {
  background-color: #dfa622 !important;
}

.feature {
  text-align: center;
  background-color: #4d5f75;
  color: #fff;
  padding: 20px;
  margin: 0px;
}

.feature h3 {
  margin: 30px 0px;
}

.info {
  text-align: center;
  padding: 20px;
}

.footer {
  text-align: center;
  justify-content: center;
  background-color: #dfa622;
  padding: 20px;
}
.footer img {
  max-height: 50px;
  margin: 20px auto 20px auto;
}

@media (min-width: 48em) {
  .navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  .photo img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}
